.category-img {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;

}

.bounce {
    animation-name: bounce;
    animation-timing-function: linear;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}